<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>music checkout</title>
</head>

<body>
    <form action="/create_playlist" method="POST">
        <input type="text" name="username" placeholder="sToro">
        <br>
        <textarea name="text" cols="70" rows="10"
            placeholder="Chant (Reprise),Hadestown Original Broadway Company,Hadestown,4:00"></textarea>
        <br />
        <input type="submit" value="submit" />
    </form>
</body>

</html>