<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <main>
        <form method="POST" action="/create">
            <h1>Create a Kaboot Room</h1>
            <button type="submit">Create</button>
        </form>
    </main>
</body>

</html>
