<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topplecontainer</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>{{filename}}</h1>
    <p>Uploaded by {{username}} at {{time}}</p>
    <p><a href="/download/{{ user_id }}/{{ file_id }}" download="{{ filename }}">Download</a></p>
    <iframe id="download" src="/download/{{ user_id }}/{{ file_id }}"></iframe>
</body>

</html>